---
import "../styles/global.css";
import "@fontsource/raleway";
import "@fontsource/quicksand";
import "@fontsource/dosis";

import Image from "astro/components/Image.astro";

import lantern from "../images/lantern.png"
import lanternRight from "../svg/lanterns-right.svg"
import glow from "../images/glow.png"
import mainBackground from "../images/streetlight-main-background.png"
import streetlightMainTitle from "../svg/streetlight-studio-main-title.svg";
import previewOne from "../images/preview-1.jpg";
---

<!-- TODO: Refactor code into seperate components for each section -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Streetlight Studios</title>
		<link rel="icon" href="public/lanna-lanterns.svg" type="image/svg+xml" />
		
	</head>
	<body class="relative text-white bg-[#24152A] font-quicksand w-screen overflow-x-hidden select-none">
		<nav class="absolute top-0 bg-[#24152AE3] font-[Raleway] font-medium text-[23px] leading-[27px] opacity-80 h-[80px] w-full z-[100]"
		>
			<ul class="flex justify-center items-center h-full">
				<li class="flex items-center h-full px-12 select-none cursor-pointer hover:bg-gray-800">
					ABOUT US
				</li>
				<li class="flex items-center h-full px-12 select-none cursor-pointer hover:bg-gray-800">
					CAMPAIGN
				</li>
				<li class="flex items-center h-full px-12 select-none cursor-pointer hover:bg-gray-800">
					GAMES
				</li>
				<li class="flex items-center h-full px-12 select-none cursor-pointer hover:bg-gray-800">
					CONCEPT ART
				</li>
				<li class="flex items-center h-full px-12 select-none cursor-pointer hover:bg-gray-800">
					THE TEAM
				</li>
			</ul>
		</nav>
		<Image src={mainBackground} alt="" class="absolute top-0 right-0 w-full z-1 object-cover object-[0%_20%]"/>
		<Image src={lanternRight} alt="Lantern 1" class="absolute w-1/2 top-[30%] right-0 object-contain z-1"/>
		<Image src={lantern} alt="Lantern 2" class="absolute z-3 w-[40%] top-[45%] left-[-18%] object-contain"/>
		<Image src={glow} alt="Glow 2" class="absolute z-2 w-1/2 top-[45%] left-[-25%] object-contain"/>

		<section class="h-screen relative flex flex-col items-center justify-center overflow-visible">
			<Image src={streetlightMainTitle} alt="Streetlight Studios" class="block text-center h-1/2 object-contain z-2"/>
			<p>
				Streetlights guide you the way home. 
			</p>
		</section>
		<!-- ABOUT US -->
		<section id="about-us" class="overflow-clip flex flex-col items-center justify-center">
			<h1 class="text-[#FFED68] text-center tracking-normal font-[Dosis] font-extrabold text-[120px] leading-[1] pt-[20vh] opacity-100">
				ABOUT US
			</h1>
			<p class="w-[80%] mt-[5vh]">
				Streetlight Studio's team is built of 18 employees with diverse backgrounds, all of which have decades worth of development experience in entertainment and technology. from our emmy award winning producers, to our developers with decades of programming and development, we've come together to disrupt the games and entertainment industry. by providing an agile footprint with cost-effective measures, we can circumvent the massive overspending that has plagued the games industry and bring the dreams of clients to life. streetlight studios is proudly owned entirely by people of color.
			</p>
		</section>
		<!-- TOP CAMPAIGNS -->
		<section id="top-campaigns" class="mt-[30vh] flex flex-col items-center justify-center">
			<h1 class="text-center font-[Dosis] font-extrabold text-[80px] leading-[1] tracking-normal text-[#FFED68] opacity-100 mb-[5vh]">TOP CAMPAIGNS</h1>
			<div id="campaigns" class="flex justify-between mb-[5vh]">
				<div class="h-[30vw] w-[30vw] bg-white shadow-[inset_0px_3px_6px_#00000029] border-[10px] border-[#FFED68] rounded-[2rem] opacity-100 mx-8"/>
				<div class="h-[30vw] w-[30vw] bg-white shadow-[inset_0px_3px_6px_#00000029] border-[10px] border-[#FFED68] rounded-[2rem] opacity-100 mx-8"/>
			</div>
			<button class="text-center font-[Quicksand] font-bold text-[35px]  tracking-normal text-white leading-[1] px-16 py-8 bg-[#372B59] rounded-[51px] opacity-100">
				Learn More
			</button>
		</section>
		<!-- OUR GAMES -->
		<section id="our-games" class="mt-[10vh] bg-[#372B59] py-[5vh]">
			<h1 class="text-center font-[Dosis] font-extrabold text-[120px] tracking-normal text-white opacity-100 leading-[1]">COMING SOON</h1>
			<div class="mt-[5vh] flex h-[20%] justify-center relative rounded-[2rem] overflow-hidden">
				<div class="h-full rounded-[inherit] overflow-hidden w-[75%]">
					<Image src={previewOne} alt="Main Preview" class="h-full w-full object-fill"/>
					<div class="p-8 flex bg-black rounded-bl-inherit rounded-b-[2rem] overflow-hidden opacity-80 absolute bottom-0 w-[75%] justify-between">
						<div id="preview-description">
							<h1>Moondrift Memory: Prologue</h1>
							<p>The Lillywall Guild has finally gotten their big break and has assigned you to guard a small artisan caravan that will carve the corpse of a dragon that lost a great battle with a powerful group of companions. But the battle has unearthed a ruin within the mountains. Come find what adventure lurks beneath.</p>
						</div>
						<button>Watch</button>
					</div>
				</div>
			</div>
		</section>
		<footer class="flex w-full flex-row justify-center">
			<div>Test</div>
			<div>
				<h1 class="font-extrabold text-[60px] leading-[20px] text-[#F8D06D] opacity-100">Streelight Studio</h1>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Campaign</a></li>
					<li><a href="#">Games</a></li>
					<li><a href="#">Concept Art</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div>
			<!-- <div class="flex-grow">
				<h1 class="font-extrabold text-[60px] leading-[20px] text-[#F8D06D] opacity-100">Streelight Studio</h1>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Campaign</a></li>
					<li><a href="#">Games</a></li>
					<li><a href="#">Concept Art</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div> -->
			<div>Test</div>
		</footer>
		<!-- <footer class="flex justify-center w-full font-[Dosis]">
			<div></div>
			<div class="!w-fit">
				<h1 class="!w-fit font-extrabold text-[60px] leading-[20px] text-[#F8D06D] opacity-100">Join the community</h1>
				<p class="!text-left">
					Lorem ipsum dolor sit amet. Est laboriosam perferendis id ducimus perferendis nam maiores voluptatem ut deserunt corrupti et provident neque id velit recusandae!
				</p>
				<div class="!w-fit flex gap-x-2">
					<div class="rounded-full bg-amber-200 h-14 aspect-square "/>
					<div class="rounded-full bg-amber-200 h-14 aspect-square "/>
					<div class="rounded-full bg-amber-200 h-14 aspect-square "/>
					<div class="rounded-full bg-amber-200 h-14 aspect-square "/>
				</div>
			</div>
		</footer> -->
	</body>
</html>

<style>

	p {
		text-align: center;
		font: normal normal bold 25px/29px Quicksand;
		letter-spacing: 0px;
		opacity: 1;
		width: 30%;
		z-index: 2;
	}

	#about-us > h1 {
		text-shadow: 0px 0px 10px #FFDF14D4;
	}

	#top-campaigns > h1 {
		text-shadow: 0px 0px 10px #FFDF14D4;
	}

	#preview-description > h1{
		text-align: left;
		font: normal normal bold 70px/20px Dosis;
		letter-spacing: 0px;
		color: #FFFFFF;
		text-transform: uppercase;
		line-height: 1;
		opacity: 1;
	}

	#preview-description > p {
		text-align: left;
		font: normal normal normal 15px/20px Quicksand;
		letter-spacing: 0px;
		width: 100%;
		color: #DFDEDE;
		opacity: 1;
	}

</style>
